<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>개인정보처리방침</title>
    </head>
    <body>
        <div class="content" id="1">
            <h2>제1조 (총칙)</h2>
        </div>
        <div class="content" id="2">
            <h2>제2조 (총칙)</h2>
        </div>
        <div class="content" id="3">
            <h2>제3조 (총칙)</h2>
        </div>
        <div class="content" id="4">
            <h2>제4조 (총칙)</h2>
        </div>
    </body>
</html>